<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    <p>
        <b>Processing Date:</b> [PROCESSINGDATE]<br />
        <b>Total Validation Errors:</b> [ERRORRECORDS]<br />

    <p>[COUNT RECORDS WITH ERRORS] employees were unable to be imported to GCIMS due to invalid data inputs or missing fields. Please review the errors listed in the attached document, apply the necessary data changes, and resubmit the records in a future Monster file so they can be automatically ingested into GCIMS.</p>
    </p>
</body>
</html>