<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    <p>
        <b>Processing Records For </b> [PROCESSINGDATE]<br />
        Total Attempted: <b>[RECORDSPROCESSED]</b><br />
        Total Records Created: <b>[RECORDSCREATED]</b><br />
        Total Records Updated: <b>[RECORDSUPDATED]</b><br />
        Total Records for Review: <b>[RECORDSFORHD]</b><br />
        Total Records Flagged: <b>[INVALIDRECORDS]</b> <br /><br /><br /><br />
        See Attached ERIS Summary Files<br />        
    </p>
</body>
</html>