<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    <p>
        <b>Processing Records For </b> [PROCESSINGDATE]<br />
        <b>Total Attempted:</b> [RECORDSPROCESSED]<br />
        <b>Total Records Created:</b> [RECORDSCREATED]<br />
        <b>Total Records Updated:</b> [RECORDSUPDATED]<br />
        <b>Total Records for Review:</b> [RECORDSFORHD]<br /><br />
        <b>Total Records Flagged:</b> [INVALIDRECORDS]<br />
    </p>
</body>
</html>